In [1]:
import pandas as pd
df = pd.read_csv("World Happiness Report.csv")
df

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,South Asia,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,South Asia,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194,Zimbabwe,Sub-Saharan Africa,2018,3.616480,7.783066,0.775388,52.625000,0.762675,-0.051219,0.844209,0.657524,0.211726,0.550508
2195,Zimbabwe,Sub-Saharan Africa,2019,2.693523,7.697755,0.759162,53.099998,0.631908,-0.047464,0.830652,0.658434,0.235354,0.456455
2196,Zimbabwe,Sub-Saharan Africa,2020,3.159802,7.596050,0.717243,53.575001,0.643303,0.006313,0.788523,0.660658,0.345736,0.577302
2197,Zimbabwe,Sub-Saharan Africa,2021,3.154578,7.656878,0.685151,54.049999,0.667636,-0.075575,0.756945,0.609917,0.241682,0.665703
2198,Zimbabwe,Sub-Saharan Africa,2022,3.296220,7.670123,0.666172,54.525002,0.651987,-0.069513,0.752632,0.640609,0.191350,NaN

In [36]:
# Define a list of years to iterate over
years = list(range(2006, 2023))

# Loop over each year and calculate the average Life Ladder score for that year
for year in years:
    # Filter the DataFrame to only include data for the current year
    df_year = df[df['Year'] == year]
    
    # Calculate the average Life Ladder score for the current year
    avg_lifeladder = df_year['Life Ladder'].mean()
    
    # Print the result
    print(f"The average Life Ladder score for the year {year} is {avg_lifeladder:.2f}")

The average Life Ladder score for the year 2006 is 5.20
The average Life Ladder score for the year 2007 is 5.42
The average Life Ladder score for the year 2008 is 5.42
The average Life Ladder score for the year 2009 is 5.46
The average Life Ladder score for the year 2010 is 5.50
The average Life Ladder score for the year 2011 is 5.42
The average Life Ladder score for the year 2012 is 5.44
The average Life Ladder score for the year 2013 is 5.39
The average Life Ladder score for the year 2014 is 5.39
The average Life Ladder score for the year 2015 is 5.40
The average Life Ladder score for the year 2016 is 5.40
The average Life Ladder score for the year 2017 is 5.46
The average Life Ladder score for the year 2018 is 5.50
The average Life Ladder score for the year 2019 is 5.57
The average Life Ladder score for the year 2020 is 5.73
The average Life Ladder score for the year 2021 is 5.64
The average Life Ladder score for the year 2022 is 5.59

In [5]:
# Find the highest value in the 'Life Ladder' column
highest_life_ladder = df['Life Ladder'].max()

print("Highest Life Ladder Score: ", highest_life_ladder)

Highest Life Ladder Score:  8.01893425

In [9]:
import pandas as pd

# Load the dataset into a pandas DataFrame
df = pd.read_csv("World Happiness Report.csv")

# Check if 'Country Name' column has any duplicate values
has_duplicates = df['Country Name'].duplicated().any()

# Print the result
if has_duplicates:
    print("There are duplicate values in the 'Country Name' column.")
else:
    print("There are no duplicate values in the 'Country Name' column.")

There are duplicate values in the 'Country Name' column.

In [11]:

# Filter the DataFrame to only include data for the year 2022
df_2022 = df[df['Year'] == 2022]

# Find the country with the highest Life Ladder in 2022
country_with_max_lifeladder = df_2022.loc[df_2022['Life Ladder'].idxmax()]['Country Name']

# Print the result
print("The country with the highest Life Ladder in 2022 is", country_with_max_lifeladder)

The country with the highest Life Ladder in 2022 is Finland

In [31]:

# Filter the DataFrame to only include data for the year 2022
df_2022 = df[df['Year'] == 2008]

# Sort the DataFrame by 'Life Ladder' score in descending order and select the top 10 rows
top_10_countries = df_2022.sort_values('Life Ladder', ascending=False).head(10)

# Print the result
print("Top 10 countries with the highest Life Ladder score in 2008:")
top_10_countries[['Country Name', 'Life Ladder']]

Top 10 countries with the highest Life Ladder score in 2008:

       Country Name  Life Ladder
507         Denmark     7.970892
624         Finland     7.670627
1474         Norway     7.632288
1382    Netherlands     7.631012
894         Ireland     7.568030
1851         Sweden     7.515997
329          Canada     7.485604
1398    New Zealand     7.381171
1798          Spain     7.294473
2073  United States     7.280386

In [32]:
# Calculate the average Life Ladder score of the top 10 countries
avg_lifeladder_top10 = top_10_countries['Life Ladder'].mean()

# Print the result
print("Average Life Ladder score of the top 10 countries in 2022:", avg_lifeladder_top10)

Average Life Ladder score of the top 10 countries in 2022: 7.5430478573

In [35]:
# Initialize an empty DataFrame to store the results
result_df = pd.DataFrame(columns=['Year', 'Avg Life Ladder Top 10'])

# Loop through each year from 2006 to 2022
for year in range(2006, 2023):
    # Filter the DataFrame to only include data for the current year
    df_year = df[df['Year'] == year]

    # Sort the DataFrame by 'Life Ladder' score in descending order and select the top 10 rows
    top_10_countries = df_year.sort_values('Life Ladder', ascending=False).head(10)

    # Compute the average Life Ladder score of the top 10 countries
    avg_life_ladder_top_10 = top_10_countries['Life Ladder'].mean()

    # Append the results to the DataFrame
    result_df = result_df.append({'Year': year, 'Avg Life Ladder Top 10': avg_life_ladder_top_10}, ignore_index=True)

#print the result
result_df

      Year  Avg Life Ladder Top 10
0   2006.0                7.230475
1   2007.0                7.432915
2   2008.0                7.543048
3   2009.0                7.335608
4   2010.0                7.472358
5   2011.0                7.430079
6   2012.0                7.515215
7   2013.0                7.459507
8   2014.0                7.369695
9   2015.0                7.438931
10  2016.0                7.441275
11  2017.0                7.473629
12  2018.0                7.453999
13  2019.0                7.495621
14  2020.0                7.437950
15  2021.0                7.432625
16  2022.0                7.384357

# The above obeservation shows that avg Happiness in top 10 counties have fallen since 2008 meaning the ecconomy recovered through the crash but Happiness didnt recover

In [37]:
# Define a list of years to iterate over
years = list(range(2006, 2023))

# Loop over each year and check if countries with high GDP have a Life Ladder score above the average for that year
for year in years:
    # Filter the DataFrame to only include data for the current year
    df_year = df[df['Year'] == year]
    
    # Calculate the average Life Ladder score for the current year
    avg_lifeladder = df_year['Life Ladder'].mean()
    
    # Filter the DataFrame to only include data for the current year and countries with high GDP
    df_high_gdp = df_year[df_year['Log GDP Per Capita'] > df_year['Log GDP Per Capita'].mean()]
    
    # Calculate the average Life Ladder score for the countries with high GDP for the current year
    avg_lifeladder_high_gdp = df_high_gdp['Life Ladder'].mean()
    
    # Check if the average Life Ladder score for the countries with high GDP is above the average for all countries for the current year
    if avg_lifeladder_high_gdp > avg_lifeladder:
        print(f"Countries with high GDP had a Life Ladder score above average in {year}.")
    else:
        print(f"Countries with high GDP did not have a Life Ladder score above average in {year}.")

Countries with high GDP had a Life Ladder score above average in 2006.
Countries with high GDP had a Life Ladder score above average in 2007.
Countries with high GDP had a Life Ladder score above average in 2008.
Countries with high GDP had a Life Ladder score above average in 2009.
Countries with high GDP had a Life Ladder score above average in 2010.
Countries with high GDP had a Life Ladder score above average in 2011.
Countries with high GDP had a Life Ladder score above average in 2012.
Countries with high GDP had a Life Ladder score above average in 2013.
Countries with high GDP had a Life Ladder score above average in 2014.
Countries with high GDP had a Life Ladder score above average in 2015.
Countries with high GDP had a Life Ladder score above average in 2016.
Countries with high GDP had a Life Ladder score above average in 2017.
Countries with high GDP had a Life Ladder score above average in 2018.
Countries with high GDP had a Life Ladder score above average in 2019.
Countries with high GDP had a Life Ladder score above average in 2020.
Countries with high GDP had a Life Ladder score above average in 2021.
Countries with high GDP had a Life Ladder score above average in 2022.

# Above observation shows that countries with high gpd have high happiness score

In [38]:
# Define a list of years to iterate over
years = list(range(2010, 2023))

# Loop over each year and check if countries with low GDP per capita have a Life Ladder score below the average for that year
for year in years:
    # Filter the DataFrame to only include data for the current year
    df_year = df[df['Year'] == year]
    
    # Calculate the average Life Ladder score for the current year
    avg_lifeladder = df_year['Life Ladder'].mean()
    
    # Filter the DataFrame to only include data for the current year and countries with low GDP per capita
    df_low_gdp = df_year[df_year['Log GDP Per Capita'] < df_year['Log GDP Per Capita'].mean()]
    
    # Calculate the average Life Ladder score for the countries with low GDP per capita for the current year
    avg_lifeladder_low_gdp = df_low_gdp['Life Ladder'].mean()
    
    # Check if the average Life Ladder score for the countries with low GDP per capita is below the average for all countries for the current year
    if avg_lifeladder_low_gdp < avg_lifeladder:
        print(f"Countries with low GDP per capita had a Life Ladder score below average in {year}.")
    else:
        print(f"Countries with low GDP per capita did not have a Life Ladder score below average in {year}.")

Countries with low GDP per capita had a Life Ladder score below average in 2010.
Countries with low GDP per capita had a Life Ladder score below average in 2011.
Countries with low GDP per capita had a Life Ladder score below average in 2012.
Countries with low GDP per capita had a Life Ladder score below average in 2013.
Countries with low GDP per capita had a Life Ladder score below average in 2014.
Countries with low GDP per capita had a Life Ladder score below average in 2015.
Countries with low GDP per capita had a Life Ladder score below average in 2016.
Countries with low GDP per capita had a Life Ladder score below average in 2017.
Countries with low GDP per capita had a Life Ladder score below average in 2018.
Countries with low GDP per capita had a Life Ladder score below average in 2019.
Countries with low GDP per capita had a Life Ladder score below average in 2020.
Countries with low GDP per capita had a Life Ladder score below average in 2021.
Countries with low GDP per capita had a Life Ladder score below average in 2022.

# Above obesrvation shows that countries with lower gdp have a happiness index that is lower than average

In [39]:

# Define a list of years to iterate over
years = list(range(2010, 2023))

# Loop over each year and get the top 10 countries with the highest Life Ladder score
for year in years:
    # Filter the DataFrame to only include data for the current year
    df_year = df[df['Year'] == year]
    
    # Sort the DataFrame by Life Ladder score in descending order
    df_year_sorted = df_year.sort_values('Life Ladder', ascending=False)
    
    # Get the top 10 countries with the highest Life Ladder score for the current year
    top_10 = df_year_sorted['Country Name'].head(10).tolist()
    
    # Print the list of top 10 countries for the current year
    print(f"Top 10 countries with highest Life Ladder score in {year}:")
     top_10

IndentationError: unexpected indent (<ipython-input-39-a7170e138800>, line 17)

In [26]:

# Filter the DataFrame to only include data for the year 2008
df_2008 = df[df['Year'] == 2009]

# Sort the DataFrame by GDP per capita in descending order
df_2008_sorted = df_2008.sort_values('Log GDP Per Capita', ascending=False)

# Get the top 10 countries with the highest GDP per capita for the year 2008
top_10 = df_2008_sorted.head(10)

# Print the table of top 10 countries for the year 2008
print("Top 10 countries with highest GDP per capita in 2009:")
top_10

Top 10 countries with highest GDP per capita in 2009:

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
1155,Luxembourg,Western Europe,2009,6.957920,11.628306,0.938559,70.300003,0.939102,0.117262,0.431607,0.713410,0.238022,0.824018
1598,Qatar,NaN,2009,6.417824,11.434426,0.894493,64.360001,0.864992,0.231570,0.183798,0.672900,0.258085,0.888472
1713,Singapore,Southeast Asia,2009,6.144677,11.148082,0.866255,72.120003,0.776382,-0.079494,0.035198,0.450022,0.207548,0.973571
1867,Switzerland,Western Europe,2009,7.524521,11.077924,0.938339,71.339996,0.891277,0.118854,0.342427,0.740782,0.201585,0.577989
1048,Kuwait,Middle East and North Africa,2009,6.585246,11.073936,0.926412,69.000000,0.818781,0.001588,0.675122,0.694340,0.251760,NaN
2040,United Arab Emirates,Middle East and North Africa,2009,6.866063,10.952468,0.885089,65.040001,0.848822,0.016183,0.338876,0.718199,0.287074,NaN
2074,United States,North America and ANZ,2009,7.158032,10.887834,0.911794,66.720001,0.830684,0.196253,0.665394,0.752766,0.261661,0.503047
895,Ireland,Western Europe,2009,7.045911,10.876213,0.958702,69.980003,0.834730,0.310157,0.579600,0.745341,0.232699,0.292569
508,Denmark,Western Europe,2009,7.683359,10.822057,0.938892,69.180000,0.949336,0.259391,0.205770,0.781799,0.233585,0.626578
795,Hong Kong S.A.R. of China,East Asia,2009,5.397056,10.788470,0.834716,NaN,0.918026,0.303338,0.272125,0.606459,0.210104,0.619142

In [24]:
# Subset the DataFrame to only include data from 2008
df_2008 = df[df['Year'] == 2008]

# Sort the DataFrame by 'Log GDP Per Capita' in descending order
df_2008_sorted = df_2008.sort_values(by='Log GDP Per Capita', ascending=False)

# Get the top 10 rows
top_10_2008 = df_2008_sorted.head(10)

# Print the top 10 countries with highest GDP in 2008
top_10_2008[['Country Name', 'Log GDP Per Capita']]

                   Country Name  Log GDP Per Capita
1712                  Singapore           11.176962
1474                     Norway           11.059902
894                     Ireland           10.938672
2073              United States           10.922942
1382                Netherlands           10.893926
93                      Austria           10.881175
821                     Iceland           10.878037
507                     Denmark           10.877718
794   Hong Kong S.A.R. of China           10.815522
624                     Finland           10.795855